<h1>Point-Slope Equation</h1>

<form>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="vertical" />
    <label class="custom-control-label" for="vertical">No slope (vertical line)</label>
  </div>

  <div class="form-group">
    <label for="slope">Slope</label>
    <input type="number" step="0.1" id="slope" class="form-control" />
  </div>

  <div class="form-group">
    <label for="x">Point X coordinate</label>
    <input type="number" step="0.1" id="x" class="form-control" />
  </div>

  <div class="form-group">
    <label for="y">Point Y coordinate</label>
    <input type="number" step="0.1" id="y" class="form-control" />
  </div>

  <div>
    <button id="drawButton" type="button" class="btn btn-dark">Draw line</button>
  </div>
</form>
