<h1>Constant Acceleration and Location</h1>

<form>
  <div class="form-group">
    <label for="v0x">Initial velocity x</label>
    <input type="number" step="0.1" id="v0x" class="form-control" />
  </div>
  
  <div class="form-group">
    <label for="v0y">Initial velocity y</label>
    <input type="number" step="0.1" id="v0y" class="form-control" />
  </div>

  <div class="form-group">
    <label for="ax">Acceleration x</label>
    <input type="number" step="0.1" id="ax" class="form-control" />
  </div>

  <div class="form-group">
    <label for="ax">Acceleration y</label>
    <input type="number" step="0.1" id="ay" class="form-control" />
  </div>

  <div>
    <button id="startButton" type="button" class="btn btn-dark">Start</button>
    <button id="resetButton" type="button" class="btn btn-dark">Reset</button>
  </div>
</form>
