<h1>Slope-Intercept Equation</h1>

<form>
  <div class="form-group">
    <label for="k">Slope</label>
    <input type="number" step="0.1" id="k" class="form-control" />
  </div>

  <div class="form-group">
    <label for="b">Y intercept</label>
    <input type="number" step="0.1" id="b" class="form-control" />
  </div>

  <div>
    <button id="drawButton" type="button" class="btn btn-dark">Draw line</button>
  </div>
</form>
