<div class="row">
  <div class="col-sm">
    <h1>Subcategories</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Index</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        {{#each entities}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{index}}</td>
            <td>{{categoryId}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

