<div class="row">
  <div class="col-sm">
    <h1>Subcategories</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Index</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        {{#each subcategories}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{index}}</td>
            <td>
              {{#with (getById ../categories categoryId)}}
                {{name}}
              {{/with}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <a class="btn btn-dark" href="/subcategories/create">Create new</a>
  </div>
</div>

