<div class="row">
  <div class="col-sm">
    <h1>Sort Subcategories</h1>

    <ol id="sortSubcategories" class="sort-container">
      {{#each subcategories}}
        <li class="sortable-item badge-secondary">
          <span>#{{id}} {{name}}</span>
        </li>
      {{/each}}
    </ol>
  </div>
</div>

<script>
  makeSortable('#sortSubcategories');
</script>
