<div class="row">
  <div class="col-sm">
    <h1>Sort Subcategories</h1>

      {{#each categories}}
        <h5 class="sort-header">{{name}}</h5>

        <ol id="sortSubcategories{{id}}" class="sort-container">
          {{#each ../subcategories}}
            {{#if (equals categoryId ../id)}}
              <li class="sortable-item badge-secondary">
                <span>#{{id}} {{name}}</span>
              </li>
            {{/if}}
          {{/each}}
        </ol>

        <hr />
      {{/each}}

  </div>
</div>

<script>
  $(function() {
    makeSortable('.sort-container');
  });
</script>
