<div class="row">
  <div class="col-sm">
    {{#if flashMessage}}
      <div class="alert alert-danger" role="alert">{{flashMessage}}</div>
    {{/if}}

    <h1>Create a New Page</h1>

    <form action="/pages/create" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" class="form-control" id="name" />
      </div>

      <div class="form-group">
        <label for="urlTitle">URL Title</label>
        <input name="urlTitle" type="text" class="form-control" id="urlTitle" />
      </div>

      <div class="form-group">
        <label for="subcategoryId">Subcategory</label>
        <select name="subcategoryId" class="form-control" id="subcategoryId">
          {{#each subcategories}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <button class="btn btn-dark">Create</button>
    </form>
  </div>
</div>
