<div class="col-sm">
  <div class="col-sm">
    <h1>Sort Pages</h1>

    {{#each subcategories}}
      <h5 class="sort-header">{{name}}</h5>

      <ol id="sortPages{{id}}" class="sort-container">
        {{#each ../pages}}
          {{#if (equals subcategoryId ../id)}}
            <li class="sortable-item badge-secondary">
              <span>#{{id}} {{name}}</span>
            </li>
          {{/if}}
        {{/each}}
      </ol>
    {{/each}}
  </div>
</div>

<script>
  $(function() {
    makeSortable('.sort-container');
  });
</script>
