<div class="row">
  <div class="col-sm">
    {{#if flashMessage}}
      <div class="alert alert-danger" role="alert">{{flashMessage}}</div>
    {{/if}}

    <h1>Create New Category</h1>

    <form action="/categories/create" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" class="form-control" id="name" />
      </div>

      <button class="btn btn-dark">Create</button>
    </form>
  </div>
</div>
