<div class="row">
  <div class="col-sm">
    <h1>Sort categories</h1>
    
    <ul id="sortCategories" class="sort-container">
      {{#each categories}}
        <li class="sortable-item badge-secondary">
          #{{id}} {{name}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<script>
  sortCategories();
</script>
