<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      {{> (partial)}}
    </div>
    <div class="col-sm">
      <div id="canvasContainer"></div>
      <div id="output"></div>
    </div>
  </div>
</div>

<script src="/mathScripts/{{file.url}}"></script>
