<div class="row">
  <div class="col-sm">
    {{#if flashMessage}}
      <div class="alert alert-danger" role="alert">{{flashMessage}}</div>
    {{/if}}

    <h1>Login</h1>

    <form action="{{basePath}}/auth/login" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="text" class="form-control" id="email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" />
      </div>

      <button class="btn btn-dark">Kirjaudu</button>
    </form>
  </div>
</div>
